<%= form_for :posts, url: {action: 'create'} do |f| %>
  <p>
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <h3><%= f.label :text %></h3>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <button class="btn-primary"<%= f.submit %>Submit</button>
  </p>
<% end %>