<div class="row">
  <div class="span6">
    <h1>Your Post</h1>

    <h4>Title:</h4>
     <p class="info"><%= @post.title %></p>
   
     
    <h4>Text:</h4>
    <p class="info"><%= @post.text %></p>


    <h4> Edit this post:</h4>
    <button class="btn-secondary"><%= link_to 'Edit', edit_post_path %></button>


    <h4>Its Just Perfect!</h4>
    <button class="btn-secondary"><%= link_to 'Post',  new_post_path %></button>
  </div>

  <div class = "span6">
    <h1>Other Posts You've written</h1>
    <table>
      <tr>
        <th><h4>Title</h4></th>
        <th><h4>Text</h4></th>
      </tr>
     
    <% @posts.each do |post| %>
      <tr>
        <td valign="top"><b><%= post.title %></b></td>
        <td valign="top"><%= post.text %></td>
        <td><button class="btn-secondary"><%= link_to 'Show', post %></button></td>
        <td><button class="btn-secondary"><%= link_to 'Edit', edit_post_path(post) %></button></td>
         <td><button class="btn-secondary"><%= link_to 'Delete', post_path(post),
                        method: :delete, data: { confirm: 'Are you sure? This is forever!' } %></button></td>
      </tr>
    <% end %>
    </table>
    <br>
    <button class="btn-secondary"><%= link_to 'Index', posts_path %></button>
    <button class="btn-secondary"><%= link_to 'New Post', new_post_path %></button>
  </div>
</div>



